{% extends 'vegan/base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="background-color: #795E1D; margin-top: 20px;">
        <a class="btn btn-default" href="{% url 'editar_post' pk=post.pk %}"><span class="fas fa-edit" style="color: #FACD11;"></span></a>
        <a class="btn btn-default" href="{% url 'eliminar_post' pk=post.pk %}"><span class="fas fa-trash-alt" style="color: #FACD11;"></span></a>

            <div class="post">
                    {% if post.fecha_publicacion %}
                        <div class="date">
                            {{ post.fecha_publicacion }}
                        </div>
                    {% endif %}
                        <h2>{{ post.titulo }}</h2>
                        <p>{{ post.texto|linebreaksbr }}</p>
            </div>
    </div>
</div>
{% endblock %}