<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vegan</title>
</head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>

    {% for post in posts %}
    <div>
        <p> publicado: {{ post.fecha_publicacion }}</p>
        <h2><a href="">{{ post.titulo }}</a></h2>
        <p>{{ post.texto|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>