{% extends 'vegan/base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="margin-top: 20px; background-color: #795E1D;">
            {% for post in posts %}
        
            <div class="post">
                    <div class="date">
                        {{ post.fecha_publicacion }}
                    </div>
                    <h2><a href="{% url 'detalle_post' pk=post.pk %}">{{ post.titulo }}</a></h2>
                    <p>{{ post.texto|linebreaksbr }}</p>
                </div>
            {% endfor %}
    </div>
</div>
    
{% endblock %}